body{
  background-color: rgb(64, 196, 48);
}
.main{
  width: 600px;
  margin: auto;
  color: #fff;
}
#loading {
  display: none;
}

#form_id select{
  width: 600px;
  margin: auto;
}

#form_id select option{
  padding: 30px;
}

#sonuclar li{
  list-style: none;
  font-size: 30px;
}
